<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{car.name}}
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Edit</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <mat-list dense>
      <mat-list-item *ngFor="let passenger of car.passengers">
         {{ passenger.name }}
         <button mat-icon-button (click)="showInfo(passenger)">
            <mat-icon>info</mat-icon>
         </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>