<mat-card tabindex="0">
  <mat-card-header>
    <mat-icon class="material-icons">directions_car</mat-icon>
    <mat-card-title>
      {{car.name}}
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (routerLink)="'./car/' + id" routerLinkActive="active">Edit</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <mat-list>
      <h3 matSubheader>Info</h3>
      <mat-list-item *ngFor="let passenger of car.passengers">
        <mat-icon matListIcon class="material-icons">person</mat-icon>
        {{ passenger.name }}
        <button mat-icon-button (click)="showInfo(passenger)">
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>Passengers</h3>
      <mat-list-item *ngFor="let passenger of car.passengers">
          <mat-icon matListIcon class="material-icons">person</mat-icon>
          {{ passenger.name }}
          <button mat-icon-button (click)="showInfo(passenger)">
            <mat-icon>info</mat-icon>
          </button>
        </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions *ngIf="car.passengers.length < car.max_passengers" align="end">
    <button mat-icon-button matTooltip="Add a passenger">
      <mat-icon aria-label="Add passenger">person_add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>