<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- Car Column -->
    <ng-container matColumnDef="car">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Car</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.car}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="20"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
<button mat-fab (click)="downloadCSV()">
  <mat-icon aria-label="Download the summary table in CSV format">cloud_download</mat-icon>
</button>