<mat-toolbar>
  <button mat-icon-button><mat-icon class="material-icons">add</mat-icon></button>

</mat-toolbar>
<mat-list>
  <mat-list-item *ngFor="let person of carpool.persons">
    <img matListAvatar src="..." alt="...">
    <h3 matLine> {{person.name}} </h3>
    <p matLine>
      <!-- <span> {{message.subject}} </span>
      <span class="demo-2"> -- {{message.content}} </span> -->
    </p>
  </mat-list-item>
</mat-list>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <!-- <mat-grid-tile *ngFor="let car of carpool.cars" [colspan]="card.cols" [rowspan]="card.rows"> -->
    <mat-grid-tile *ngFor="let car of carpool.cars">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{car.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>